body{
margin:20px auto;
}
.Parent{
height:360px;
width:480px;
border:1px solid red;
margin:10px;

}
.child{
border-radius:10%;
width:100px;
height:100px;
margin:200px;
text-align:center;
float:left;


}
.one{
background-color:red;
margin:10px;
}
.two{
background-color:blue;
margin:10px;

}
.three{
background-color:black;
margin:10px;

}
.four{
background-color:yellow;
margin:10px;
}

.five{

background-color:green;
margin:10px;
}
.six
{
background-color:green;
margin:10px;
}
.seven{
background-color:brown;
margin:10px;
}
.eight{
background-color:grey;
margin:10px;
}
.nine{
background-color:grey;
margin:10px;
}
.ten{
background-color:grey;
margin:10px;
}
.eleven{
background-color:grey;
margin:10px;
}
.twelve{
background-color:grey;
margin:10px;
}



